.tablestyle{
    margin-left:20%;width: 60%;
}



@media only screen and (max-width: 540px) {
    h1{
       font-size: larger;
    }
    h2{
        font-size: larger;
     }
    .tablestyle{
        margin: auto;;width: 60%;
    }
}

